<div class="pokemon-container">
  <p align="center" class="title bits"> {{data.pokemon.name | titlecase }} </p>
  <img @pokeballAnimation [src]="data.pokemon.sprites.front_default" class="pokemon-sprite"/>
  <div class="pokemon-data">
    <p class="bits" align="center" >Type: {{retrieveType(data.pokemon)}} </p>
    <div class="stats">
      <p class="bits" *ngFor="let stat of data.pokemon.stats"> {{stat.stat.name}}: {{stat.base_stat}} </p>
    </div>
  </div>
  <div class="locations">
    <p class="bits"> Locations: </p>
    <div class="scroll">
      <p class="bits" *ngFor="let area of data.locations" > <mat-icon>map</mat-icon> {{area.location_area.name}} </p>
    </div>
  </div>
  <div class="moves">
    <p class="bits"> List of moves: </p>
    <div class="moves-scroll">
      <p class="bits " *ngFor="let move of data.pokemon.moves; let index = index"
        [ngClass]="{'move': 0 === index % 2}"
      > {{move.move.name}} </p>
    </div>
  </div>
  <div class="button" *ngIf="!isSearching; else addFavorites" >
    <button class="bits" (click)="close()" > Start </button>
  </div>
  <ng-template #addFavorites>
    <div class="button">
      <button (click)="onAdd()" matTooltip="Add to favorites..." > <mat-icon class="navigate"> favorite </mat-icon> </button>
    </div>
  </ng-template>
</div>